<div class="gf-form-group">
	<div class="gf-form">
		<span class="gf-form-label">
			<i class="fa fa-clock-o"></i>
		</span>

		<span class="gf-form-label width-12">Override relative time</span>
		<span class="gf-form-label width-6">Last</span>

		<input type="text" class="gf-form-input max-width-8" placeholder="1h"
			empty-to-null ng-model="ctrl.panel.timeFrom" valid-time-span
			ng-change="ctrl.refresh()" ng-model-onblur></input>
	</div>
	<div class="gf-form-inline">
		<div class="gf-form">
			<span class="gf-form-label">
				<i class="fa fa-clock-o"></i>
			</span>
		</div>
		<gf-form-switch class="gf-form max-width-30"
			label="Hide time override info" label-class="width-12"
			checked="ctrl.panel.hideTimeOverride" switch-class="max-width-6" on-change="ctrl.refresh()">
		</gf-form-switch>
	</div>
	<div class="gf-form" ng-repeat="timeShift in ctrl.panel.timeShifts">
		<span class="gf-form-label">
			<i class="fa fa-clock-o"></i>
		</span>
		<span class="gf-form-label width-12">Time shift</span>
		<span class="gf-form-label width-6">Amount</span>

		<input type="text" class="gf-form-input max-width-8" placeholder="1h"
			   empty-to-null ng-model="timeShift.value" valid-time-span
			   ng-change="ctrl.refreshTimeShifts()" ng-model-onblur></input>

		<span class="gf-form-label width-6">Suffix alias</span>
		<input type="text" class="gf-form-input max-width-8" placeholder="auto"
			   empty-to-null ng-model="timeShift.alias"
			   ng-change="ctrl.refreshTimeShifts()" ng-model-onblur></input>
		<label class="gf-form-label">
			<a class="pointer" tabindex="1" ng-click="ctrl.removeTimeShift(timeShift)">
				<i class="fa fa-trash"></i>
			</a>
		</label>
	</div>
	<button class="btn btn-secondary gf-form-btn" ng-click="ctrl.addTimeShifts()" >
		Add time shift
	</button>
	
</div>


